<h1>Te quedan 7 intentos</h1>

<form action="/saludar">
	<span>_</span>
	<span>_</span>
	<span>_</span>
	<span>_</span>
	<br/>
	<input type="text" name="letra"/>
	<input type="submit" value="Enviar"/>
</form>
