<h1>Te quedan <%= @intentos %> intentos</h1>

<form action="/">
	<% for caracter in (@palabra.each_char) %>
		<span><%= caracter %></span> 
	<% end %>
	<br/><br/>
	<input type="text" name="letra"/>
	<input type="submit" value="Enviar"/>
</form>
